.bodyLogin {
    font-family: "Open Sans", sans-serif;
    background: url("../img/background/Endless-Constellation.svg") top center;
}

/* body {
    font-family: "Open Sans", sans-serif;
    background: url("../img/background/backgroundSite07.jpg") top center;
} */

.fonte {
    color: black;
    font-family: "Open Sans", sans-serif;
    

}

  