.bodylogin{
    font-family: "Open Sans", sans-serif;
    background-image: url("../img/background/gradiente.png");
    background-attachment: fixed;
    background-position: top right, center;
    background-size: 100%;
}
.fonte {
    color: rgb(255, 255, 255);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}
.fonte1 {
    color: rgb(0, 0, 0);
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
}

.link {
    text-decoration: none;
    color: black;

}
.link:hover{
    color: indigo;
    text-decoration: none;
}

/* .card {
    box-shadow: 0 0 1em black;
} */