
/* Banner Style */
.banner {
	position: relative;
	text-align: center;
	/* padding-top: 80px; */
}

.banner-item-01 {
	padding: 300px 0px;
	background-image: url(../../vendor/images/produtos_slide/banner1.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner-item-02 {
	padding: 300px 0px;
	background-image: url(../../vendor/images/produtos_slide/geladeiraEvolution.webp);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner-item-03 {
	padding: 300px 0px;
	background-image: url(../../vendor/images/produtos_slide/hx-cloud-2-wireless.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner-item-04 {
	padding: 300px 0px;
	background-image: url(../../vendor/images/produtos_slide/banner2.png);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.banner-item-05 {
	padding: 300px 0px;
	background-image: url(../../vendor/images/produtos_slide/cozinha.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
.banner .banner-item {
	max-height: 600px;
}

.banner .text-content {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
}

.banner .text-content h4 {
	color: #f33f3f;
	font-size: 22px;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 15px;
}

.banner .text-content h2 {
	color: #fff;
	font-size: 62px;
	text-transform: uppercase;
	letter-spacing: 5px;
}

.owl-banner .owl-dots .owl-dot {
  border-radius: 3px;
}
.owl-banner .owl-dots {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 30px;
}
.owl-banner .owl-dots .owl-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 0 10px;
    background-color: #fff;
    opacity: 0.5;
}
.owl-banner .owl-dots .owl-dot:focus {
    outline: none
}
.owl-banner .owl-dots .owl-dot.active {
    background-color: #fff;
    opacity: 1;
}
